.textSection {
  text-align: center;
  margin-top: 50px;
}
.textSection h1 {
  font-size: 45px;
  font-weight: 800;
}

.services {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(1fr);
}

.ser1 {
  border: 2px solid black;
}
