.header {
  text-align: center;
  padding-top: 50px;
}

.flex {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  cursor: pointer;
}

.green {
  color: #0dbd8b;
  border-bottom: 2px solid #0dbd8b;
}

.text {
  padding-left: 168px;
  padding-top: 20px;
}
