.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img {
  height: 50px;
  padding-left: 40px;
  margin-top: 20px;
}
.img2 {
  height: 550px;
}
span {
  color: #0dbd8b;
}
